h1{
    color: #4A6FA5;
    text-transform: uppercase;
    margin: 0;
    padding: 0px 15px;
}
h2{
    color: #4A6FA5;
    text-transform: uppercase;
}


h3{
    color: #DBE9EE;
}

body{
    background-color: #DBE9EE;
    padding: 0;
    text-align: left;
    margin: 0 auto;
}

.content-wrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    width: 100%;
    min-height: 700px;
    background-image: url("media/movers-carrying-boxes.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .text{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
}


header{
    background-color: #C0D6DF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar ul{
    font-size: 1.2em;
}

nav li{
    float: left;
}

a{
    text-decoration: none;
    color: #166088
}

nav a{
    color: #4A6FA5;
    padding: 1rem;
    display: block;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

.nav-bar a:hover{
    background-color: #4F6D7A;
    color: #091820;
}

.intro a{
    color:#C0D6DF;
}

#current-page{
    background-color: #166088;
    color: #CEE0E7;
}

a:visited{
    color:#091820;
}

.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav a{
    color: #091820;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.left-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    background-color: #166088;
    color:#CEE0E7;
}

.right-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    background-color: #C0D6DF;
    color: #091820;
}

.left-text a{
    color:#CEE0E7;
}

.right-text h3{
    color: #166088;
}

.text{
    text-align: center;
    padding: 1em;
}

img{
    max-width: 30%
}

.answer{
    padding: 1em;
    list-style-type: none;
}

.contact-pieces{
    display: flex;
    justify-content: center;
    align-items: center;
}

.glyph-text{
    padding: 0;
}

.glyph{
    width: 10%;
}

#email:hover{
    text-decoration: underline;
    color: #4F6D7A;
}