h1{
    color: #4A6FA5;
    text-transform: uppercase;
    margin: 0;
    padding: 0px 15px;
}

body{
    background-color: #DBE9EE;
    padding: 0;
    text-align: left;
    margin: 0 auto;
}

.content-wrapper{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    width: 100%;
    min-height: 700px;
    background-image: url("media/movers-carrying-boxes.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #C0D6DF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar ul{
    font-size: 1.2em;
}

